body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
}

button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.login-box input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}
